body {
    margin: 0;
    padding: 0;
    background: url("assets/shopping-image-9.png");
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 50%;
    background-size: cover;
    min-height: 100dvh;
}

.main-container {
    padding: 3em;
    padding-top: 7em;
    font-family: 'Geist', 'system-ui', 'Winky Sans', 'Consolas', sans-serif;
    width: 75vw;
    margin: 0 auto;
}

.heading {
    padding: 1em 0;
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    color: blueviolet;
    text-shadow: 1px 1px 10px white;
}


.search-bar {
    height: 2.5em;
    color: blueviolet;
    border: 0.05em solid;
    display: flex;
    align-items: center;
    border-radius: 1em;
    justify-content: space-between;
    overflow: hidden;
}

.search-bar:hover {
    box-shadow: 1px 1px 10px gray;
}

.search-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 0 min(1em, 1vw);
    align-items: center;
    width: fit-content;
}

.btn-submit {
    font-family: 'Geist', 'system-ui', 'Winky Sans', sans-serif;
    padding: 0.6em 0.8em;
    border-radius: 0.8em;
    background-color: blueviolet;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.btn-submit:hover {
    color: blueviolet;
    background-color: white;
    box-shadow: 1px 1px 8px gray;
}

#search_text {
    padding: 0.5em 1.5rem;
    width: 15em;
    font-size: large;
    border: none;
    outline: none;
    color: blueviolet;
    font-family: 'Geist', 'system-ui', 'Winky Sans', 'Consolas';
    flex-grow: 1;
}

.search-icon {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    fill: white;
    padding: 2em 1em;
    overflow: hidden;
    cursor: pointer;
    font-weight: bolder;
    border: none;
    outline: none;
}

.search-icon:hover {
    fill: blueviolet;
    border-left: 0.05em solid blueviolet;
    background: #fff;
}

.trending-head {
    color: blueviolet;
    padding: 4em 0;
    font-size: larger;
}

@media screen and (max-width: 760px) {
    #search_text {
        padding: 0.5em 0.8em;
        width: 8em;
        font-size: small;
    }

    .heading {
        padding: 0.6em 0;
        font-size: 2em;
    }

    .btn-submit{
        font-size: small;
    }

    .search-icon{
        padding: 1em 0.4em;
    }

    .search-bar{
        height: 2em;
        width:65vw;
    }
}
