body {
    margin: 0;
    padding: 0;
    background-color: #e7f5f9;
}

.main-container {
    width: 75vw;
    margin: 0 auto;
    padding: 1em;
    padding-top: 8em;
    font-family: 'Geist', 'system-ui', 'Winky Sans', 'Consolas', sans-serif;
}

.heading-container {
    padding-top: 2em;
    padding-bottom: 4em;
}

.heading {
    margin: 0 auto;
    font-size: 2em;
    padding: 0.5em 1em;
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.7em;
    width: fit-content;
    box-shadow: 1px 1px 8px gray;

}

.search-text-container {
    padding-top: 2em;
}

.search-text {
    margin: 0 auto;
    font-size: 1.5em;
    padding: 0.2em 1.5em;
    outline: 1px solid blueviolet;
    color: blueviolet;
    background: #fff;
    text-align: center;
    border-radius: 0.5em;
    width: fit-content;
}

td {
    border: 0.5px solid blueviolet;
    border-collapse: collapse;
    font-family: 'Geist', 'system-ui', 'Winky Sans', 'Consolas', sans-serif;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.left-top {
    border-top-left-radius: 1em;
}

.right-top {
    border-top-right-radius: 1em;
}

th {
    background-color: blueviolet;
    color: white;
    padding: 1em 0;
    text-align: center;
}

td {
    padding: 0.8em;
    text-align: center;
}

.table-container {
    padding-top: 4em;
    padding-bottom: 5em;
}

#sortable-table {
    background-color: #eef8fa;
}

.price-col,
.rating-col,
.link-col {
    width: 12%;
}

.platform-col{
    width: 14%;
}

.btns {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Geist', 'system-ui';
}

.sort-btn {
    padding: 0.5em 1em;
    background-color: blueviolet;
    border: none;
    outline: none;
    color: white;
    border-radius: 0.8em;
    cursor: pointer;
    font-size: large;
    font-family: 'Geist', 'system-ui';
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5em;
}

.sort-btn > img{
    width:1em;
    height: 1em;
    mix-blend-mode: darken;
}

.sort-btn:hover {
    outline: 0.05em solid blueviolet;
    color: blueviolet;
    background: white;
}

a > img{
    width:2em;
    height: 2em;
}

th {
    font-size: large;
}


@media screen and (max-width: 760px) {
    .main-container {
        width: 89vw;
        margin: 0 auto;
        padding: 1em;
        padding-top: 6em;
    }

    .heading {
        font-size: 1em;
        padding: 0.5em 0.6em;
    }

    .search-text {
        font-size: 1em;
    }

    td {
        font-size: x-small;
        font-weight: 400;
    }

    th {
        font-size: small
    }

    .sort-btn {
        padding: 0.4em 0.8em;
        font-size: small;
    }

    .heading-container {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .price-col,
    .rating-col,
    .link-col {
        width: 16%;
    }

    .platform-col {
        width: 20%;
    }
}

tr{
    opacity: 0;
}

tr.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}