{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href='{% static "home.css" %}' />
</head>

<body>
    <div class="navbar-container">
        <nav class="navbar">
            <div class="nav-title" >Customer's Edge</div>
            <div class="nav-about" >About Us</div>
        </nav>
    </div>
    <div class="main-container">
        
        <div class="heading">
            Home Page
        </div>
        <div class="form-container">
            <form action="" id="search_form" method="post">
                {% csrf_token %}
                <div class="search-container">
                    <div class="search-bar">
                        <input type="text" id="search_text" name="search_text" placeholder="Search item..." required />
                        <button class="search-icon" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                                viewBox="0 0 64 64">
                                <path
                                    d="M 27 9 C 17.075 9 9 17.075 9 27 C 9 36.925 17.075 45 27 45 C 31.129213 45 34.9263 43.587367 37.966797 41.240234 L 51.048828 54.322266 C 51.952828 55.226266 53.418266 55.226266 54.322266 54.322266 C 55.226266 53.418266 55.226266 51.952828 54.322266 51.048828 L 41.240234 37.966797 C 43.587367 34.9263 45 31.129213 45 27 C 45 17.075 36.925 9 27 9 z M 27 13 C 34.719 13 41 19.281 41 27 C 41 34.719 34.719 41 27 41 C 19.281 41 13 34.719 13 27 C 13 19.281 19.281 13 27 13 z">
                                </path>
                            </svg>
                        </button>

                    </div>
                    <button type="submit" class="btn-submit">Search</button>
                </div>


            </form>

            <!-- <div class="trending-head" >
                Trending Searches
            </div> -->
        </div>
    </div>

    <script>
        // const searchText = document.getElementById("search_text").value;
        // function handleSubmit(ev){
        //     ev.preventDefault();
        // }

    </script>
</body>

</html>